.collection-item {
  flex: 1 0 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background: #d2d2d2;
  // border: 1px solid #000;
  position: relative;

  &:after {
    content: '';
    display: block;
    padding-bottom: 130%;
  }
  .image {
    position: absolute;
    width: 100%;
    height: 90%;
    background-size: cover;
    background-position: center;
  }

  .custom-button {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 65%;
    display: none;
  }

  &:hover {
    .image {
      transition: opacity 1s ease-in-out;
      opacity: 0.8;
    }

    .custom-button {
      transition: all 1s linear;
      opacity: 0.85;
      display: flex;
    }
  }

  .collection-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1em;

    .name {
      width: 90%;
      margin-left: 5%;
      margin-bottom: 4%;
    }

    .price {
      margin-right: 5%;
      width: 10%;
    }
  }
}

@media (max-width: 530px) {
  .collection-item {
    min-width: 215px;
  }
}

// @media (max-width: 400px) {
//   .collection-item {
//     flex: 1 0 100%;
//   }
// }
